

html,body{
    background-image: url("/static/css/road.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
    
    .container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }



/*

html, body{
    background-image:url("/static/css/road.jpeg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    font-family: 'Numans', sans-seriff;
    overflow: hidden;
}

body .form{

}

.login-form {
    background: none;
    vertical-align: middle;
}
.form {
    
    border-radius: 25px;
    position: relative;
           position: center; 
    height: 50%;
    align-content: center;
         margin-top: 100px; 
    margin-left: 50px;
    margin-right: 50px; 
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-width: 45px;
    border-left: 50px ;
    border-style: solid;
    color: rgb(228, 193, 150);
    display: inline-block;
} 
label{
    color: cornflowerblue;
}

.container{
    height: 100%;
         align-content: center; 
         vertical-align: middle; 
    display: block;

    margin-left: 15%;
    margin-bottom: 20%;
}


.form-group{
    align-content: center;
    height: auto;
    background: none;
    color: rgb(22, 18, 255);
              margin: none; 
    width: 250px;
            background-color: rgba(86, 208, 224, 0.5);
   text-decoration-color: rgb(22, 18, 255); 
} 


.btn{
    color: black;
    background-color: rgb(22, 18, 255);
    width: 100px;
    align-content: center;
    float: right;
   
    
}
h2{
    text-align: center;
    color: rgb(4, 39, 155);
    font-weight: bold;
} */


