html, body{
    background-image:url("/static/css/city.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    font-family: 'Numans', sans-seriff;
}

.form{
    height: 50%;
    align-content: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-width: 45px;
    border-left: 50px ;
    border-style: solid;
    color: bisque;
    flex: ;
}

.login-form center-block{
    height: auto;
    align-content: center;
}
.form-group{
    align-content: center;
    height: auto;
    margin: none;
    width: 250px;
    background-color: rgba(86, 208, 224, 0.5);
}

.btn{
    color: black;
    background-color: rgb(22, 18, 255);
    width: 100px;
    align-content: center;
    
}
h2{
    text-align: center;
}

