{% extends "base.html" %}

{% block main %}
  <div class="card">
    <div class="card-header">Reservations</div>
    <div class="card-body">
      <h5 class="card-title">Make your reservations now!</h5>
      <p class="card-text">Avoid joining long lines and not having a parking spot.</p>
      <a href="{{ url_for('reserve') }}" class="btn btn-primary">Reserve</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Add Credit Card</div>
    <div class="card-body">
      <h5 class="card-title">Add a credit card to your account!</h5>
      <p class="card-text">Avoid hassle and add your credit card to your account.</p>
      <a href="#" class="btn btn-primary">Add Card</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Account Details</div>
    <div class="card-body">
      <h5 class="card-title">View your account now!</h5>
      <p class="card-text">Want to view or edit your account? Click here.</p>
      <a href="#" class="btn btn-primary">Edit Account</a>
    </div>
  </div>

{% endblock %}